<!DOCTYPE html><html lang="en" xmlns="http://www.w3.org/1999/xhtml">
                            <head>
                            <meta charset="utf-8" />
                                <title>Result</title>
                            </head>
                            <body style="background-image: radial-gradient(circle, #353535, #313439, #27343c, #19353b, #0a3535); padding:50px">
                                <div class="container" style="color:white"  font-size:20px; ">
                                    <h1  "><b>Prediction</b></h1>
                                </div>
                                <div class="container" style="width: 800px; margin-top:5%; margin-left:20%; color:white;">
                                <table style = "border: 3px solid black;margin-left:auto;margin-right:auto;margin-top:5%; font-size:100px color:white; " id="table1" ><b>You don't have any Affair.</b></table>
                                </div>
            
                            </body>
                            </html>